.banner-container {
  margin: 70px 100px 0 100px;
  background-color: black;
  position: relative;
  height: 223px;
  border-radius: 25px;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 70%;
  border-radius: 25px;
}

.banner-txt {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 25px;
  font-size: 48px;
  line-height: 68px;
  color: white;
}

/* tablet */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .banner-container {
    height: 175px;
    border-radius: 25px;
  }

  .banner-txt {
    top: 20px;
    font-size: 30px;
  }
}

/* phone */
@media screen and (max-width: 768px) and (min-width: 320px) {
  .banner-container {
    margin: 0 20px 0 20px;
    border-radius: 10px;
  }

  .banner-home {
    height: 111px;
  }

  .banner-about {
    height: 225px;
  }

  .banner-txt {
    width: 220px;
    left: 4%;
    top: 10px;
    font-size: 24px;
    line-height: 24px;
  }

  .banner-img {
    border-radius: 10px;
  }
}
