.footer-container {
  margin-top: 200px;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 1440px;
  height: 210px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-logo {
  width: 122px;
}

.footer-txt {
  color: white;
}
