.header-navbar {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.header-nav-link {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  color: #ff6060;
}

/* tablet */
@media screen and (max-width: 992px) and (min-width: 768px) {
  .header-logo {
    width: 145px;
  }
}

/* phone */
@media screen and (max-width: 768px) and (min-width: 320px) {
  .header-logo {
    width: 145px;
  }

  .header-nav {
    width: 130px;
  }

  .header-nav-link {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 17px;
  }
}
