.slider-container {
  position: relative;
  margin: 25px auto 30px auto;
  width: 1250px;
  height: 415px;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.slider-command {
  width: 47px;
  height: 80px;
  position: absolute;
  top: 40%;
  cursor: pointer;
}

.slider-next {
  right: 25px;
}

.slider-previous {
  transform: scaleX(-1);
  left: 25px;
}

.slider-count {
  position: absolute;
  left: 47%;
  bottom: 25px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
