* body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Montserrat;
  font-weight: 500;
}

.color-primary {
  color: #ff6060;
}

.background-primary {
  background-color: #ff6060;
}

.background-secondary {
  background-color: #f6f6f6;
}

.m-0-auto {
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.d-none {
  display: none;
}
