.leasing-infos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 100px 0 100px;
}

.leasing-infos {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.leasing-title {
  font-size: 36px;
  font-weight: 500;
}

.leasing-location {
  font-size: 18px;
  font-weight: 500;
}

.leasing-host-rating {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.leasing-host-container {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.leasing-host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-left: 10px;
}

.leasing-host-name {
  width: 70px;
}

.leasing-tags-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
